@import "@material/drawer/mdc-drawer";
@import "@material/list/mdc-list";

.main {
  max-width: 60rem;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-column-gap: 3rem;
  min-width: 57.5rem;
  &-light {
    margin-top: -4rem;
  }
  &-coffee {
    margin-top: -4rem;
  }
}

.page {
  margin: 0;
}

.mdc-hidden {
  display: none;
}

.device {
  &__wrapper {
    display: flex;
    align-self: center;
  }

  &__title {
    text-align: center;
    margin: 2rem 0 3rem 0;
  }
}

.control {
  &__image {
    width: auto;
    height: 23.1rem;
    margin-bottom: 1.5rem;
  }

  &__wrapper {
    text-align: center;
    position: relative;
  }

  &__tv {
    margin-top: 1rem;
  }

  &__light {
    margin-top: 1rem;
  }

  &__left {
    margin-bottom: 0.3rem;
    top: 13.5rem;
    left: 4.6rem;
    position: absolute;
  }

  &__mode {
    margin-bottom: 0.3rem;
    top: 14.7rem;
    left: 4.6rem;
    position: absolute;
  }

  &__right {
    margin-bottom: 0.3rem;
    top: 16rem;
    left: 4.6rem;
    position: absolute;
  }

  &__volume {
    top: 18.3rem;
    left: 4.2rem;
    position: absolute;
  }

  &__icon {
    line-height: 0;
  }

  &__horizontal {
    display: flex;
    flex-direction: row;
    top: 8.5rem;
    left: 6.5rem;
    position: absolute;
  }

  &__vertical {
    display: flex;
    flex-direction: column;
  }
}

// .mdc__color {
//   opacity: 0.2;
// }

.volume {
  &__1 {
    :hover {
      opacity: 0.1;
    }
  }
  &__2 {
    :hover {
      opacity: 0.2;
    }
  }
  &__3 {
    :hover {
      opacity: 0.3;
    }
  }
  &__4 {
    :hover {
      opacity: 0.4;
    }
  }
  &__5 {
    :hover {
      opacity: 0.5;
    }
  }
  &__6 {
    :hover {
      opacity: 0.6;
    }
  }
  &__7 {
    :hover {
      opacity: 0.7;
    }
  }
  &__8 {
    :hover {
      opacity: 0.85;
    }
  }
  &__9 {
    :hover {
      opacity: 1;
    }
  }
}

.author {
  &__title {
    text-align: center;
    margin: 7rem 0 2rem 0;
  }
  &__info {
    max-width: 60rem;
    margin: 0 auto;
  }
  &__wrapper {
    text-align: center;
  }
}
